.SectionHead {
text-decoration: underline;
font-weight: bold;
text-transform: uppercase;

}
.jobheader{
 font-weight: bold;
 text-transform: uppercase;
 font-size: .90rem;
}

.company {
 font-style: italic;
 font-size: .90rem;
}

.center {
 text-align: center;
}

.city{
 float: right;
}

.date{
 float: right;
}

.column{
 float:left;
 width: 33%;
}

.red{
 background-color: red;
}